<div class="page-header">
  <h1>Platforms</h1>
  <ul class="actions">
    <li><%= link_to "New Platform", new_platform_path, class: "new-btn" %></li>
    <li>
      <%= link_to "Sign Up", new_user_registration_path %>
    </li>
  </ul>

</div>

<div id="platforms">
  <% @platforms.each do |p| %>
    <div class="row">
      <div class="col-md-2">
       <%= link_to "#{p.name}", platform_path(p) %>
      </div>
      <div class="col-md-10">
        <%= p.description %> 
      </div>
    </div>
  <% end %>
</ul>

