<p>welcome</p>

<h1>Platforms</h1>

<div id="platforms">
  <% @platforms.each do |p| %>
    <h2> <%= link_to "#{p.name}", platform_path(p) %> </h2>
    <p> <%= p.description %> </p>
  <% end %>
</ul>



<%= link_to "New Platform", new_platform_path %>