<% title(@platform.name, "Platforms") %>
<h1>Platform<h1>
  <h3><%= @platform.name %></h3>
  <p>
    <%= @platform.description %>
  </p>

<div id="nav">
  [ <%=link_to "Home", root_path %> | <%= link_to "Edit Platform", edit_platform_path(@platform) %> ]
</div>