
<div class="page-header">
  <h1>Distlists</h1>
  <ul class="actions">
    <li>
      <%= link_to "Add to list", new_admin_distlist_path(), class: "new-btn" %>
    </li>
  </ul>
</div>

<%= render "content", distlists: @distlists %>
