<div class="page-header">
  <h1>
    Add follower to distlist
  </h1>
  <ul class="actions">
    <li>
      <%= link_to "Cancel", admin_distlists_path, class: "cancel-btn" %>
    </li>
  </ul>
</div>
<%= render "form", distlist: @distlist %>