$lightest-grey: #fafafa;
$light-grey: #e5e5e5;
$mid-lighter-grey: #d9d9d9;
$mid-grey: #dddddd;
$mid-darker-grey: #cccccc;
$gallery: #ececec;
$new-grey: #f2f3f5;
$white-smoke: #f5f5f5;
$whiter-smoke: #f7f7f7;
$alabaster: #fafafa;
$white: #ffffff;
$silver: #bdbdbd;
$ghost-grey: #808080;
$type-grey: #58585b;
$true-black: #222;
$lime-green: #B2BC36;
// $primary-green: #419644;
$primary-green: #366250;
$apple-green: #419845;
$blue: #399cc6;
$action-blue: #068dba;
$purple: #7686C2;
$dark-purple: #637099;