
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'variables';

@import "platform";
@import "responsive";
@import "issues";
@import "admin/application";

body {
	padding-top: 70px;
}
.navbar {
	background-color: #e3f2fd;
}

.page-header {
	position: relative;
	padding-bottom: 0px;

	&:first-child {
		margin-top: 20px;
	}
}

.col-header {
  color: $primary-green;
  font-weight: bold;
  padding-right: 4px;
  float: left;
}

ul.actions {
	@extend .list-unstyled;
	@extend .list-inline;
}

.new-btn {
	@extend .btn;
	@extend .btn-success;

	&:before {
		font-family: "FontAwesome";
		@extend .fa-plus;
		padding-right: 0.5em;
	}
}

.btn {
	border-radius: 0;
}

.user-icon {
	&:before {
		font-family: "FontAwesome";
		padding-right: 0.5em;
		@extend .fa-user-circle-o;
		font-size: 20px;
	}
}

.edit-btn, .delete-btn, .home-btn, .cancel-btn, .save-btn, .back-btn, .signin-btn, .signup-btn {
	@extend .btn;

	&:before {
		font-family: "FontAwesome";
		padding-right: 0.5em;
	}
}

.back-btn {
	@extend .btn-info;

	&:before {
		@extend .fa-mail-reply;
	}
}

.edit-btn {
	@extend .btn-primary;

	&:before {
		@extend .fa-pencil;
	}
}

.delete-btn {
	@extend .btn-danger;

	&:before {
		@extend .fa-trash;
	}
}

.home-btn {
	@extend .btn-info;

	&:before {
		@extend .fa-home;
	}	
}

.cancel-btn {
	@extend .btn-warning;

	&:before {
		@extend .fa-remove;
	}
}

.signin-btn {
	@extend .btn-warning;

	&:before {
		@extend .fa-sign-in;
	}
}

.signup-btn {
	@extend .btn-warning;

	&:before {
		@extend .fa-plus-circle;
	}
}

.save-btn {
	@extend .btn-primary;

	&:before {
		@extend .fa-save;
	}
}

.alert-notice {
 	@extend .alert-success;
}

.alert-alert {
	@extend .alert-danger;
}

.P1 {
	background-color: red;
	color: white;
}

.P2 {
	background-color: orange;
	color: black;
}

.P3 {
	background-color: yellow;
	color: black;
}

.attachments {
	color: red;
  border: 1px solid red !important;
  font-weight: bold;
  font-size: 16px;
  padding: 4px;
}