// Place all the styles related to the platform controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header-row {
  color: #366250;
  border-bottom: 1px solid #366250 !important;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 2px;
  margin-bottom: 4px;
}