<div class="page-header">
  <h1>New User</h1>
  <ul class="actions">
    <li>
      <%= link_to "Cancel", admin_users_path, class: "cancel-btn" %>
    </li>
  </ul>
</div>

<%= render "form", user: @user, platforms: @platforms %>