<div class="page-header">
	<h1>Create a Follower</h1>
  <ul class="actions">
    <li>
      <%= link_to "Cancel", admin_followers_path, class: "cancel-btn" %>
    </li>
  </ul>
</div>
<%= render "form", follower: @follower %>